{% extends 'Airsoft/base.html' %}
{% block contenido %}
    <h1>Mundo Airsoft</h1>
    <br>
    <p>Lugar de replicas y equipamiento realista</p>
    <p>En MUNDO AIRSOFT te brindamos informacion gratuita y te guiamos para que compres la replica que mas te guste.
        <br>
        Diseñamos y fabricamos replicas e equipamiento combinando tejidos técnicos y tecnologías únicas; transmitiendo en cada uno de nuestros productos una filosofía moderna, siempre un paso adelante en la evolución.
        <br>
        Contamos con más de 20 años de trayectoria en Argentina y muy prontamente en Latinoamérica.
        Somos persistentes y arriesgados.
        <br>
        Damos en cada replica nuestra mejor versión
        y también queremos que saques lo mejor VOS.
        <br>
        Muchas gracias por tu visita!
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    Esta Web fue desarrollada por:
    <br>
    <br>
</p>
    Nicolás Vázquez, 32 años, hincha de Boca y de la Scaloneta. Recién iniciando en el mundo del desarrollo. Para ver otros trabajos ir a <a href="https://github.com/NVazquezS" style="color: darkgoldenrod;">GitHub</a>
    <br>
    <br>
    Angelo Pettinari, 23 años. Fan del mate en cualquier estación. Apenas 4 meses en el desarrollo backend y frontend. Para ver otros trabajas pásate por mi perfil de <a href="https://github.com/Piruuux" style="color: darkgoldenrod;">GitHub</a>.
    <br>
    <br>
    Branko Bogunovic, 20 Años, Me gusta el diseño grafico, principiante en desarrollo web, para ver más trabajos pásate por mi <a href="https://github.com/BogunovicBranko" style="color: darkgoldenrod;">GitHub</a>.
    
    {% endblock %}